#calculator {
    width: 40%;
    min-width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border-radius: 10px;
    padding: 0 0 5% 0;
    position: relative;
    top: 10%;
}

#calculator h3 {
    margin-top: 20%;
    padding-bottom: 5%;
    font-size: 1.5em;
}

#calculator header {
    width: 70%;
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
#Result {
    width: 100%;
    height: 20%;
    display: none;
    text-align: center;
    align-items: center;
    margin: auto;
}

#calculator input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#calculate {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
    
#calculate:hover {
    background-color: #0056b3;
}

#calculator #lowerBound {
    margin-top: 30px;
    margin-bottom: 0%;
}
    
#calculator #upperBound {
    margin-bottom: 3%;
}

#calculator input{
    background: rgba(255, 254, 254, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
}
#calculator input::placeholder{
    color: var(--white-color);
}
#calculator input:hover{
    background-color: var(--white-color);
}
#calculator input:hover::placeholder{
    color: var(--dark);
}
#calculator input:focus{
    background-color: var(--white-color);
}
#calculator input:focus::placeholder{
    color: var(--dark);
}

/* Style the table with a specific class */
.table-styled {
    width: 100%;
    border-collapse: collapse;
    margin-top: 150px;
    margin-bottom: 30px;
    position: relative;
}

/* Style the table header */
.table-styled th {
    background-color: #007BFF;
    color:var(--text-color);
    padding: 1% 0 1% 0;
        text-align: center;
}

/* Style the table data cells */
.table-styled td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Style the table data cells in the first column (Iteration) */
.table-styled td:first-child {
    font-weight: bold;
    color: #007BFF;
}

/* Style the table data cells in the last column (f(c)) */
.table-styled td:last-child {
    font-weight: bold;
    color: #28A745;
}

.ans {
    min-width: 30%;
    min-height: 20%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #007BFF;
    color: var(--text-color);
    position: relative;
    bottom: 10px;
    }
    
    .secant h3 {
        display: inline-block;
}