.content-container{
    position: relative;
    width: calc(100% - 22%);
    height: calc(100% - 5% - 31px);
    top: calc(5% + 29px);
    bottom: 0;
    color: var(--text-color);
    padding: 0 3% 0 3%;
    text-align: center;
    overflow: scroll;

}
#introduction{
    padding: 5% 0 5% 0;
}
#introduction h2{
    font-size: 2em;
    padding: 0 0 1% 0;
    color: var(--header-color);
}
#introduction p{
    font-size: 1.1em;
    padding: 0 0 1% 0;
}
#features{
    padding: 5% 0 5% 0;
}
#features h2{
    padding:0% 0 2% 0;
}
#features ul{
    padding: 0 0 0 20%;
    text-align: left;
}
#benefits h2{
    padding: 5% 0 2% 0;
}